*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'gotham';
}
@font-face {
    font-family: 'gotham';
    src: url('../components/fonts/gotham.woff2') format('woff2');
    src: url('../components/fonts/gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
:root{
    --height-MAIN_HEADER: 10vh;
    --default-horizontal-SPACING: 2.4vw;
    --minimum-horizontal-SPACING: .8vw;
    --default-vertical-SPACING: 3vh;
    --max-vertical-SPACING: 5vh;
    --minimum-vertical-SPACING: 1vh;
    --color-BG: black;
    --color-MAIN: #FFC309;
    --color-SECOND: #FF6C2F;
    --color-COMPLEMENTAR_1: #b78c30;
    --color-COMPLEMENTAR_2: #faedbc;
}
html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: var(--height-MAIN_HEADER);
}


body{
    background-color: var(--color-BG);
}



section, #main_header, #main_footer{
    width: 100%;
}

section{
    padding: 0 var(--default-horizontal-SPACING);
    height: 90vh;
}
main{
    margin: 0 auto;
    max-width: 1366px;
}

#home{
    margin-top: var(--height-MAIN_HEADER);
}

#main_header{
    top: 0;
    z-index: 1;
    display: flex;
    position: fixed;
    max-width: 1366px;
    padding: 0 var(--default-horizontal-SPACING);
    align-items: flex-end;
    justify-content: space-between;
    /* border-bottom: 1px inset gold; */
    height: var(--height-MAIN_HEADER);
    background-color: var(--color-BG);
    min-height: var(--height-MAIN_HEADER);
}
.barra{
    position:absolute;
    width: 95%;
    max-width: 1366px;
    height: 1px;
    background: rgb(253,187,45);
    background: linear-gradient(318deg, rgba(253,187,45,1) 0%, rgba(250,155,54,1) 25%, rgba(255,255,255,1) 50%, rgba(250,155,54,1) 75%, rgba(253,187,45,1) 100%);
}
.logo{
    width: 10vw;
    height: auto;
}
.logo img{
    width: 100%;
    height: auto;
}
.menu{
    display: flex;
    color: white;
    font-size: 18px;
    align-items: center;
    font-family: 'roboto';
    text-transform: uppercase;
    gap: var(--default-horizontal-SPACING);
    padding-bottom: var(--minimum-vertical-SPACING);
}

#main_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 248px;
}