
#home{
    display: flex;
    justify-content: end;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

h2{
    width: 100%;
    height: auto;
    font-size: 32px;
    color: var(--color-SECOND);
    background-color: aliceblues;
}
.info{
    position: absolute;
    display: flex;
    justify-content: right;
    max-width: 1366px;
    height: 91%;
    margin: 0 auto;
}
.information{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.4em;
    line-height: 28px;
    flex-direction: column;
    width: 50%;
}
.information img{
    width: 70%;
}
#home{
    justify-content: left;
    overflow: hidden;
}
#home .info{
    background: linear-gradient(90deg, #000000 1.42%, rgba(0, 0, 0, 0) 11.4%, rgba(0, 0, 0, 0) 34.05%, #000000 43.77%);
}
.bg_home{
    width: auto;
    height: 100%;
}
#home p, .information p{
    /* font-size: 28px; */
    text-align: justify;
    line-height: auto;
    color: rgb(247, 247, 247);
}
.highlight_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'gotham';

    
}
#home .information{
    gap: 50px;
}
#home .information img{
    margin-top: 50px;
}

.highlight{
    display: flex;
    justify-content: center;
    width: 75%;
    height: auto;
    /* border: 2px inset white; */
}
.highlight div:nth-child(3),.highlight div:nth-child(4){
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.highlight div:nth-child(2){
    margin-right: 2.5%;

}
/* .highlight div:nth-child(4) > h3{
    font-size: 3.5vw;
} */
.highlight div:nth-child(4) > p:nth-child(4){
    font-size: .69em;
    width: 15vw;
}
.highlight div:nth-child(5) > p:nth-child(4){
    margin: 0 auto;
    width: 100%;
}
.highlight div:nth-child(5){
    margin-left: 2.5%;
}
.highlight_bg_left, .highlight_bg_right{
    position: absolute;
    object-fit: contain;
    width: 71%;
    /* background-color: aqua; */
}
.highlight_bg_left img, .highlight_bg_right img{
    width: 100%;
    height: auto;
}
.highlight_bg_right{
    display: flex;
    align-items:baseline;
    margin-top: 70px;
}

.highlight_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 12vw;
    height: 29vh;
    margin-top: 3%;
    color: white;
}
.highlight_info p:nth-child(4){
    font-size: .8em;
    font-weight: lighter;
}
.highlight_info p:nth-child(3){
    font-size: 1.7vw;
    font-weight: bold;
    color: var(--color-COMPLEMENTAR_1);
}
.highlight_info p{
    width: 100%;
    font-size: 2em;
}
.highlight_info h3{
    color: var(--color-MAIN);
    font-size: 4em;
    line-height: 50px;
    font-weight: bold;
}
.highlight_info p, .highlight_info h3{
    text-transform: uppercase;
}
#section1{
    display: flex;
    justify-content: end;
}
#section1 .information{
    width: 45%;
    height: 100%;
    gap: 2vh;
}
#section1 .information h1{
    width: 100%;
    margin-top: var(--default-vertical-SPACING);
    color: var(--color-COMPLEMENTAR_1);
    text-transform: uppercase;
    font-family: 'roboto';
}
#section1 .information h2{
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: var(--default-vertical-SPACING);
    color: var(--color-MAIN);
}
#section1 .information p{
    /* font-size: 1.3em; */
    margin-bottom: var(--default-vertical-SPACING);

}
.information span{
    font-weight: bolder;
    color: var(--color-MAIN);
}
#home .info{
    margin-right: 30px;
}
#section1 .info{
    display: flex;
    margin-left: 30px;
    justify-content: left;
    background: linear-gradient(90.01deg, #000000 46.07%, rgba(0, 0, 0, 0) 71.75%, rgba(0, 0, 0, 0) 93.39%, #000000 98.35%);
}

.photo{
    overflow: hidden;
    width: auto;
    height: 100%;
}
.photo img{
    width: auto;
    height: 100%;

}
.social{
    display: flex;
    width: auto;
    justify-content: space-between;
}
.social_icom{
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 20px;
    width: 180px;
}
.social_icom img{
    width: 100%;
}